.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  /* padding: 10px; */
}



.offcanvas .offcanvas-title {
  color: black;
}

.offcanvas.show .offcanvas-header {
  color: black;
}

.offcanvas-header .btn-close {
  color: black !important;
  background-color: transparent !important;
}


.offcanvas.show .offcanvas-body {
  color: black;
}